<table>
  <thead>
    <tr>
      <th><h1><h1>Editing paste</h1></h1></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'form' %>
    <tr>
      <td><%= link_to 'Show', @paste %> | <%= link_to 'Back', pastes_path %></td>
    </tr>
  </tbody>
</table>

